[Desktop Entry]
Type=Application
Name=Alatus
GenericName=ASUS Hardware Control Center
Comment=Hardware control suite for ASUS laptops on Linux
Exec=alatus gui --tray
Icon=io.strixwolf.alatus
Terminal=false
Categories=Settings;HardwareSettings;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel

