[Unit]
Description=Alatus Desktop Session Agent
PartOf=graphical-session.target
After=graphical-session.target alatusd.service

[Service]
Type=simple
ExecStart=/usr/bin/alatus-session
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target graphical-session.target
