[Unit]
Description=Alatus System Daemon
After=dbus.service systemd-udevd.service sys-kernel-debug.mount
Wants=systemd-udevd.service sys-kernel-debug.mount
Before=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/alatusd
Restart=always
RestartSec=5

# Production security sandbox hardening
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/sys /dev
PrivateTmp=true
ProtectKernelLogs=true
ProtectControlGroups=true
DevicePolicy=closed
DeviceAllow=char-hidraw rw
DeviceAllow=char-input r
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SYS_RAWIO
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
